<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- start: Meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Yewoo Housing Management System</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" media="all">
	<link type="text/css" href="{{ STATIC_URL }}bootstrap/css/daterange.css" rel="stylesheet" media="all">
	<link href="{{ STATIC_URL }}bootstrap/css/main.css" rel="stylesheet" media="all">
	<link href="{{ STATIC_URL }}bootstrap/fonts/font-awesome.css" rel="stylesheet" media="all">
	<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet" media="all">
	<link href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" rel="stylesheet" media="all">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	[endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
	<style>
    table {
    	table-layout: fixed;
    }
    table th, table td {
    	overflow: hidden;
    }
    .must {
    	color: red;
    	float: left;
		margin-right: 10px;
    }
    .optional {
    	color: black;
    	float: left;
    	margin-right: 10px;
    }
    .margin0 {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	margin-top: 0px !important;
    	margin-bottom: 0px !important;
	}
	.width4 {
		width: 95px;
	}
	.width3 {
		width: 80px;
	}
	.width2 {
		width: 70px;
	}
	select {
		font-family : 'Malgun Gothic' !important;
	}
    body {
		font-family : 'Malgun Gothic' !important;
	}
	input {
		font-family : 'Malgun Gothic' !important;
	}
	::-webkit-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	::-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-moz-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-ms-input-placeholder {
		font-size : 0.8em !important;
		font-family : 'Malgun Gothic' !important;
	}
	:-input {
		margin-bottom:0px !important;
		font-family : 'Malgun Gothic' !important;
	}
	#modal_simpleinput {
		top : 10%;
		width : 60%;
		margin : 0px 0px 0px 0px;
		padding : 0px 0px 0px 0px;
		left : 20%;
	}
	#myModal {
		top : 10%;
		width : 70%;
		margin : 0px 0px 0px 0px;
		padding : 0px 0px 0px 0px;
		left : 15%;
		overflow-y : hidden;
	}
	.modal-dialog {
		width : auto;
		margin: 0px 0px 0px 0px;
	}
	.modal-body {
		max-height : 100%;
		overflow-y : auto;
	}
	#side-datepicker .ui-datepicker {
		width:auto;
	}
	#side-datepicker2 .ui-datepicker {
		width:auto;
	}
	#side-datepicker3 .ui-datepicker {
		width:auto;
	}
	.fontmini {
		text-align : center;
		font-size : 0.9em !important;
		font-family : 'Malgun Gothic' !important;
	}
	@page { size: landscape; }
	</style>
		
</head>

<body>
    <!-- start:Header --!>
    {% include "header.html" with menu="lease" %}
    <!-- end:Header --!>
	<div class="container-fluid" style="padding: 0px 20px 0px 20px; margin-top:10px; margin-bottom:40px">
		<div class="col-md-2" style="padding-left:0px">
          {% include "sidebar.html" with side_menu="department" %}
        </div>
			
		<!-- start: Content -->	
		<div id="content" class="col-md-10" style="padding-right:0px; font-size:1.1em">
			<!-- breadcrumb -->
			<div class="col-md-12" style="padding:0px; margin-bottom:10px">
				<ol class="breadcrumb no-margin">
					<li><a href="#">통합 내역 관리 시스템</a><!--<span class="divider">></span>--></li>
					<li class="active">납부 내역 확인</li>
				</ol>
			</div>
				
				<!-- 검색 필터링 -->
			<div id="filter-menu" style="margin:0px; padding:0px">
				<div class="panel panel-default col-md-12">
					<div class="panel-body table-responsive" style="padding:0px">
						<table class="table table-condensed no-margin" style="margin-bottom:0px">
							<tr>
								<td width="17%">
									<div style="margin-right:5px; float:left">내역 분류</div>
									<select id="search_type" class="form-control input-sm margin0" style="width:130px">
										<option value="5">납부 확인</option>
									</select>
								</td>
								<td width="17%">
									<div style="margin-right:5px; float:left">건물명</div>
									<select id="search_building" class="form-control input-sm margin0" style="width:120px">
										{% for b in building_name_id %}
										<option value="b{{ b.id }}" {% if search_building_id == b.id %}selected{% endif %}>{{ b.name }}</option>
										{% endfor %}
									</select>
								</td>
								<td width="18%">
									<div style="margin-right:5px; float:left">내역일</div>
									<div class="form-inline">
										<select id="search_year" class="form-control input-sm margin0" style="width:100px">
											<option value="">년도</option>
											{% for y in search_year_list %}
											<option value="{{ y }}" {% if y == search_year %}selected{% endif %}>{{ y }}</option>
											{% endfor %}
										</select>
										<select id="search_month" class="form-control input-sm margin0" style="width:60px">
											<option value="">월</option>
											{% for m in search_month_list %}
											<option value="{{ m }}" {% if m == search_month %}selected{% endif %}>{% if m < 10 %}0{% endif %}{{ m }}</option>
											{% endfor %}
										</select>
									</div>
								</td>
								<td width="13%">
									<div style="margin-right:5px; float:left">호수</div>
									<select id="search_room_num" class="form-control input-sm margin0" style="width:70px">
										<option value="">전체</option>
									</select>
								</td>
								<td width="10%">
									<div style="margin-right:5px; float:left">공실여부</div>
									<input id="search_isEmpty" type="checkbox" {% if search_is_empty == 'true' %}checked="checked"{% endif %}>
								</td>
								<td width="14%">
									<div>
										<button type="button" class="btn btn-sm btn-primary" onclick="showLeaseInfo(false);">조회</button>
										<button type="button" class="btn btn-sm btn-primary" onclick="InitForm();">초기화</button>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<!-- 납부 내역 확인 (전체) -->
			<div class="row-fluid">
				<div class="panel panel-default col-md-12" style="margin:0px 0px 5px 0px; padding: 0px">
					<div class="panel-body table-responsive" style="margin: 0px; padding: 0px; border: 0;">
						<table class="table table-bordered table-condensed no-margin" style="margin-bottom:0px">
							<tr style="background-color:#edf5fa">
								<td width="60%">
									<div style="font-size:0.8em">건물명/기간</div>
									<div><h4>No.{{ search_building_id }} {{ cur_building_name }} / <font style="color:red">{{ search_year }}.{{ search_month }} / 납부 확인</font></h4></div>
								</td>
								<td width="40%">
									<div style="font-size:0.8em">납부 현황</div>
									<div><h4>총 <font style="color:red">{{ num_of_occ_rooms }}</font>개, 현재 <font style="color:red">{{ num_of_comp_pay }}</font>개 납부, 미납 <font style="color:red">{{ num_of_ncomp_pay }}개</font></h4></div>
								</td>
							</tr>
						 </table>  
					</div>
				</div>
			</div>

			<!-- 납부 확인-->
			<div class="row-fluid">
				<div class="panel panel-default col-md-12" style="margin:20px 0px 0px 0px; padding: 0px">
					<div class="panel-heading clearfix" style="padding:10px 0px 10px 10px">
						<h3 class="panel-title"><strong>납부 확인</strong></h3>
					</div>
					<div class="panel-body table-responsive" style="margin: 0px; padding: 0px; border:0">
						<table class="table table-bordered table-condensed" style="margin: 0px">
							<tr>
								<td width="10%" style="vertical-align:middle">납부 확인</td>
								<td width="24%">
									<div class="form-inline">
										납부(입금)일
										<input id="uploadDate" type="text" class="margin0 form-control input-sm datepicker" placeholder="날짜를 입력하세요." style="width:120px" />
										<a href="#" title="입금일을 선택하시면 납부항목에 납부일이 자동으로 지정됩니다." data-rel="tooltip" class="margin0"><i class="icon-question-sign"></i></a>
									</div>
								</td>
								<td width="27%">
									당일 납부: 총 
									<font style="color:red">{{ num_of_occ_rooms }}</font>개, 오늘 
									<font style="color:red">{{ num_of_comp_pay_today }}</font>개
								</td>
								<td width="27%">
									전체 납부: 총
									<font style="color:red">{{ num_of_occ_rooms }}</font>개, 누적 
									<font style="color:red">{{ num_of_comp_pay }}</font>개
								</td>
								<td width="5%" style="vertical-align:middle">이력</td>
								<td width="7%"><button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal_history" disabled>보기</button>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<!-- 납부 내역 라디오 선택 -->
			<div class="row-fluid">
				<div class="panel panel-default col-md-12" style="margin:20px 0px 0px 0px; padding: 0px">
					<div class="panel-body table-responsive" style="margin: 0px; padding: 5px 5px 5px 5px; border:0">
						<div class="form-inline">
							<strong>납부 처리</strong>
							<label style="display:inline-block; font-size:0.95em"><input type="radio" name="radioN" class="radio" value="0" checked />전체</label>
							<label style="display:inline-block; font-size:0.95em"><input type="radio" name="radioN" class="radio" value="1" />납부</label>
							<label style="display:inline-block; font-size:0.95em"><input type="radio" name="radioN" class="radio" value="2" />미납</label>
							<label style="display:inline-block; font-size:0.95em"><input type="radio" name="radioN" class="radio" value="3" />연체 회수</label>
							<label style="display:inline-block; font-size:0.95em"><input type="radio" name="radioN" class="radio" value="4" />입금일</label>
							<div style="text-align:right; float:right">
								<button type="button" class="btn btn-sm btn-primary" onclick="pagePrint();">출력</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 납부 내역 리스트 -->
			<div class="row-fluid" style="margin-top:5px">
				<div id="contents" class="box-content" style="margin: 0px; padding: 3px; border:1">
				<div class="panel panel-default col-md-12" style="margin:20px 0px 0px 0px; padding: 0px">
					<div id="contents" class="panel-body table-responsive" style="margin: 0px; padding: 3px; border:1">
					</div>
				</div>
			</div>
			<!-- end: Content -->
		</div>
	</div>




	<input type="hidden" value="{{ csrf_token }}" />	
	<!-- 빠른 입력 팝업창 -->
	<div class="modal fade" id="myModal" aria-labelledby="myModalTitle" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">X</button>
					<h4 class="modal-title" id="myModalTitle">납부처리 - 빠른입력</h4>
				</div>
				<div class="modal-body">
					<div class="row-fluid">
						<div id="contents_modal_simpleinput" class="modal-body">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<!-- start: JavaScript-->
	<script src="{{ STATIC_URL }}bootstrap/js/jquery.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/sparkline.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/tiny-scrollbar.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/daterange/moment.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/daterange/daterangepicker.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/custom.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/custom-index.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/jquery.cookie.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/datepicker/jquery-ui.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/jquery.datepicker-ko.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/jquery.uploadify-3.1.min.js"></script>

	<script src="{{ STATIC_URL }}ejs/ejs.js"></script>
	<script src="{{ STATIC_URL }}ejs/ejs_production.js"></script>
	<script src="{{ STATIC_URL }}ejs/view.js"></script>

	<script src="{{ STATIC_URL }}js/03_03_payment.js"></script>
	<script src="{{ STATIC_URL }}js/common.js"></script>
	
	<script type="text/javascript" language="JavaScript">
		$(document).ready(function(){
			$("#side-datepicker").datepicker();
			$("#side-datepicker2").datepicker();
			$("#side-datepicker3").datepicker();
			$('.datepicker').datepicker();
			$('.datepicker').click(function() {
				$(this).datepicker();
			});

			// 건물을 하나 선택할 때, 그 건물에 속한 '호수' 전체 불러오기
			getBuildingRooms('b{{ search_building_id }}', 'search_room_num', '{{ search_room_num }}');
			$('#search_building').change(function() {
				getBuildingRooms($(this).val(), 'search_room_num');
			});

			// 업로드 날짜 datepicker
			$('#uploadDate').change(function() {
				$('#uploadDate_modal').val($(this).val());
			});
			$('#uploadDate_modal').change(function() {
				$('#uploadDate').val($(this).val());
			});

			setCurInfo();

			// ejs template 불러오기
			getContents('{{ search_room_num }}');

			// 날짜 넣기
			var d = new Date();
			yy = d.getFullYear();
			mm = d.getMonth()+1;
			dd = d.getDate();
			$('#uploadDate').val(yy+'.'+mm+'.'+dd);

			// radio btn 클릭 시 동작
			$('input[name=radioN]').change(function() {
				changeRadio(Number($(this).val()));
			});
		});			
	</script>
	<!-- end: JavaScript-->
	
</body>
</html>
